<h2>Kill The Alien</h2>
<p>
    Developed with Opal <a href="http://opalrb.org/">http://opalrb.org/</a>
    
    
</p>
<p>
    <ul>
        <li>Arrow keys (up and down) to change the angle</li>
        <li>Space to shoot</li>
        <li>R to reset the game</li>
    </ul>
</p>
<div id="canvasWrapper">
<canvas width="1000" height="500" id="canvas" style="border:solid black 1px; "></canvas>
</div>
<div id="angle">angle : 30</div>
<img id="background_img" src='http://res.cloudinary.com/dohzihmsc/image/upload/v1421176254/space-wallpapers-widescreen-for-desktop-14_d652tr.jpg' style="display: none;" />
<img id="player_img" src="http://res.cloudinary.com/dohzihmsc/image/upload/v1421265070/troll_esgbyd_v1pypy.png" style="display:none;" />
<img id="gun_img" src="http://res.cloudinary.com/dohzihmsc/image/upload/c_scale,h_45/v1421176731/banana-gun_iqj6rw.gif" style="display: none;" />
<img id="alien_img" src="http://res.cloudinary.com/dohzihmsc/image/upload/c_scale,h_100/v1421263738/ET_qigrrb.png" style="display: none;" />
<img id="banana_img" src="http://res.cloudinary.com/dohzihmsc/image/upload/c_scale,h_20/v1421267665/banana_small_tzdtqs.gif" style="display: none;" />